name: Greetings

on:
  workflow_dispatch:
    inputs:
      GITHUB_SHA:
        description: "Commit Number"
        default: ""
        required: true
        type: string
      Etiquette_1:
        description: "Étiquette 1"
        required: true
        default: "KRYPTON"
        type: choice
        options:
          - KRYPTON
          - PHOSPHORE
          - NICKEL
          - ARGON
      Etiquette_2:
        description: "Étiquette 2"
        required: false
        default: "KRYPTON"
        type: choice
        options:
          - KRYPTON
          - PHOSPHORE
          - NICKEL
          - ARGON

jobs:
  cherry_pick:
    runs-on: ubuntu-latest
    permissions: write-all
    name: Cherry pick into ${{ github.event.inputs.Etiquette_1 }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cherry pick into ${{ github.event.inputs.Etiquette_1 }}
        uses: sandcht/github-cherry-pick-action@v1.0.0
        with:
          branch: ${{ github.event.inputs.Etiquette_1 }}
          GITHUB_SHA: ${{ github.event.inputs.GITHUB_SHA }}
          labels: |
            cherry-pick
          reviewers: |
            aReviewerUser
    cherry_pick_2:
    runs-on: ubuntu-latest
    permissions: write-all
    name: Cherry pick into ${{ github.event.inputs.Etiquette_2 }}
    if: github.event.inputs.Etiquette_1 !== github.event.inputs.Etiquette_2
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cherry pick into ${{ github.event.inputs.Etiquette_2 }}
        uses: sandcht/github-cherry-pick-action@v1.0.0
        with:
          branch: ${{ github.event.inputs.Etiquette_2 }}
          labels: |
            cherry-pick
          reviewers: |
            aReviewerUser
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
