name: Greetings

on:
  workflow_dispatch:
    inputs:
      commit:
        description: 'Commit Number'
        default: ''
        required: true
        type: string
      Étiquette 1:
        description: 'Étiquette 1'
        required: true
        default: 'KRYPTON'
        type: choice
        options:
        - KRYPTON
        - PHOSPHORE
        - NICKEL
        - ARGON
      Étiquette 2:
        description: 'Étiquette 2'
        required: false
        default: 'KRYPTON'
        type: choice
        options:
        - KRYPTON
        - PHOSPHORE
        - NICKEL
        - ARGON
jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Message that will be displayed on users' first issue"
        pr-message: "Message that will be displayed on users' first pull request"
